<ion-content>
  <div id="segment-container">
    <ion-segment (ionChange)="segmentChanged($event)" value="login" mode="md">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="signup">
        <ion-label>Signup</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <form [formGroup]="authForm">
    <div id="login">
      <div id="container">
        <h1 *ngIf="segment === 'login'">Welcome Back!</h1>
        <div *ngIf="segment === 'signup'">
          <h1>Hello,</h1>
          <p>Enter your information below</p>
        </div>
        <ion-item *ngIf="segment === 'signup'">
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="nameControl"></ion-input>
        </ion-item>
        <!-- Error for Name Field -->
        <div>
          <div class="error"
            *ngIf="authForm.get('nameControl').hasError('required') && authForm.get('passwordControl').touched && segment=== 'signup'">
            <p>* Name Must Not Be Empty</p>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="emailControl"></ion-input>
        </ion-item>
        <!-- Error for email -->
        <div>
          <div class="error"
            *ngIf="authForm.get('emailControl').hasError('required') && authForm.get('emailControl').touched">
            <p>* Email Must Not Be Empty</p>
          </div>
          <div class="error"
            *ngIf="authForm.get('emailControl').hasError('pattern') && authForm.get('emailControl').touched">
            <p>Invalid Email Format</p>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="passwordControl" type="password"></ion-input>
        </ion-item>
        <!-- Error for password -->
        <div>
          <div class="error"
            *ngIf="authForm.get('passwordControl').hasError('required') && authForm.get('passwordControl').touched">
            <p>* Password Must Not Be Empty</p>
          </div>
          <div class="error"
            *ngIf="authForm.get('passwordControl').hasError('pattern') && authForm.get('passwordControl').touched">
            <p>* Password must contain at least one lowercase letter, one uppercase letter, one digit and one special
              character</p>
          </div>
        </div>
        <ion-button expand="block" (click)="checkValidation()" *ngIf="segment === 'login'">Log In</ion-button>
        <ion-button expand="block" (click)="checkValidation('signup')" *ngIf="segment === 'signup'">Sign Up</ion-button>
      </div>
    </div>
  </form>
</ion-content>