ion-content {
    margin: 10px;

    #segment-container {
        float: left;
        margin-left: 20px;

        ion-segment-button {
            max-width: 10px;
        }
    }

    ion-button {
        margin-top: 50px;
    }

    #container {
        margin: 50% 50px;
    }

    .error {
        color: red;
        font-size: 13px;
    }
}