ion-content {
    margin: 10px;

    #segment-container {
        margin-bottom: 30px;
        ion-segment-button {
            max-width: 10px;
        }
    }

    ion-button {
        margin-top: 50px;
    }

    #container {
        margin: 50px;
    }

    .error {
        color: red;
        font-size: 13px;
    }
}