p {
    margin: 0;
}

#header-container {
    border-bottom: 2px solid #e8e8e8;
    margin: 0 20px;
    .edit-icon {
        float: right;
        margin-right: 20px;
        zoom: 1.2;
    }
    .save-icon {
      zoom: 1.4;
    }
}

#add-note-container {
  margin: 20px;

  .notes {
    background-color: #F6F6F6;
    border-radius: 10px;
    width: auto;
    height: 140px;
    padding: 10px;

    .title {
      margin-top: 5px;
    }

    p {
      color: #948f8f;
      font-weight: 500;
      padding: 0px;
      margin: 0px;
    }
    
    .tag {
      font-size: 13px;
      display: inline-block;
      padding: 5px;
      background-color: #EFEFEF;
      color: #948f8f;
      border-radius: 10px;
    }

    .description {
      padding-top: 10px;
    }
  }
  .add-note {
    left: 30%;
    right: 30%;
    position: fixed;
    bottom: 0;

    &.footer-md::before {
        background-image: none;
    }
  }
}