<ion-header class="ion-no-border">
  <div id="header-container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button style="width: 18px;" mode="ios" text="" defaultHref="/home">
        </ion-back-button>
        <ion-label style="margin-left: 10px;">All Notes - {{ folderName }}</ion-label>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Add Note -->
  <div id="add-note-container">
    <ion-row *ngFor="let note of all_notes" (click)="goToNoteDetail(note.id)">
      <ion-col>
        <div class="notes" *ngIf="!noResult">
          <p>{{ note.createdAt }}</p>
          <h5 class="title">{{ note.title }} </h5>
          <div class="tag" *ngIf="note.folderName === null || !note.folderName">Unclassified</div>
          <div class="tag" *ngIf="note.folderName !== null">{{ note.folderName }}</div>
        </div>
      </ion-col>
    </ion-row>
    <div class="no-result" *ngIf="noResult">
      <ion-icon name="search-outline"></ion-icon>
      <p>No note to show</p>
    </div>
    <div class="add-note">
      <ion-button (click)="addNotes()">
        <ion-icon name="add-outline"></ion-icon>&nbsp; Add Notes
      </ion-button>
    </div>
  </div>
</ion-content>