p {
    margin: 0;
}

ion-header::after {
    background-image: none;
}

#header-container {
    border-bottom: 2px solid #e8e8e8;
    margin: 0 20px;

    ion-label {
      margin-left: 10px;
    }

    .edit-icon, .folder-icon {
      float: right;
      margin-right: 20px;
      zoom: 1.2;
    }

    .save-icon {
      zoom: 1.4;
    }
}

ion-content {
  .note-container {
      padding: 12px;
  }
  .title-input {
      font-size: 20px;
      font-weight: 500;
      width: 90%;
  }

  .currentDate {
      color: #9d9d9d;
      margin-left: 8px;
      font-size: 14px;
  }
}

.body-input {
    margin-top: 20px;
    padding: 12px;
}

.btnDisable {
  opacity: 0.3;
}