<ion-header>
  <div id="header-container">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button style="width: 18px; margin-left: 10px" mode="ios" text="" defaultHref="/home">
        </ion-back-button>
      </ion-buttons>
      <ion-icon name="checkmark-outline" slot="end" class="save-btn" (click)="saveNote()"></ion-icon>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div>
    <form [formGroup]="noteForm" class="note-container">
      <ion-input formControlName="titleControl" maxlength="64" placeholder="Input title" required class="title-input">
      </ion-input>
      <ion-label class="currentDate">{{currentDate}}</ion-label>
      <ion-textarea formControlName="bodyControl" placeholder="Enter more information here..." class="body-input"
        rows="25" [style.font-size]="fontSize + 'px'" [style.color]="textColor">
      </ion-textarea>
    </form>
  </div>
</ion-content>

<ion-footer>
  <div id="font-container" *ngIf="showFontSelector" [style.background]="backgroundColor">
    <ion-item>
      <ion-label>Font Size</ion-label>
      <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One" value="medium"
        (ionChange)="fontChanged($event)">
        <ion-select-option value="small">Small</ion-select-option>
        <ion-select-option value="medium">Medium</ion-select-option>
        <ion-select-option value="large">Large</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div id="color-container" *ngIf="showColorSelector" [style.background]="backgroundColor">
    <ion-item lines="none">
      <div id="blue" (click)="setColor('blue')"></div>
      <div id="green" (click)="setColor('green')"></div>
      <div id="red" (click)="setColor('red')"></div>
      <div id="purple" (click)="setColor('purple')"></div>
    </ion-item>
  </div>

  <ion-row>
    <ion-col>
      <ion-icon name="text-outline" [class]="fontSelected? 'fontActive' : 'fontInactive'" (click)="selectFontEditor()">
      </ion-icon>
    </ion-col>
    <ion-col>
      <ion-icon name="color-palette-outline" [class]="colorSelected? 'colorActive' : 'colorInactive'"
        (click)="selectColorEditor()"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>