<ion-header class="ion-no-border">
  <div id="header-container">
    <ion-toolbar [style.background]="textColor">
      <ion-buttons slot="start">
        <ion-back-button style="width: 18px;" mode="ios" text="" defaultHref="/home">
        </ion-back-button>
        <ion-label>All Notes</ion-label>
      </ion-buttons>
      <fa-icon icon="trash-alt" class="delete-icon" (click)="presentAlertConfirm()"></fa-icon>
      <fa-icon icon="folder-plus" class="folder-icon" [style.color]="!folderName? '#B2B1B9': '#343A40'"
        (click)="presentModal()">
      </fa-icon>
      <ion-icon name="checkmark-outline" slot="end" (click)="saveNote()" class="save-icon"
        [class]="saveBtnDisable?'btnDisable':''"></ion-icon>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [style.--background]="textColor">
  <div>
    <form [formGroup]="noteForm" class="note-container">
      <div>
        <ion-input (ionInput)="searchChanged($event.target.value)" formControlName="titleControl" maxlength="64"
          placeholder="Input title" required class="title-input">
        </ion-input>
      </div>
      <ion-label class="currentDate">{{currentDate}}</ion-label>
    </form>
    <div class="body-input">
      <ckeditor [config]="editorConfiguration" [editor]="Editor" [data]="editorData" [(ngModel)]="editorData">
      </ckeditor>
    </div>
  </div>
</ion-content>