p {
    margin: 0;
}

ion-header::after {
    background-image: none;
}

#header-container {
    border-bottom: 2px solid #e8e8e8;
    margin: 0 20px;
    .edit-icon {
        float: right;
        margin-right: 20px;
        zoom: 1.2;
    }
    .save-icon {
      zoom: 1.4;
    }
}

ion-content {
    .note-container {
        padding: 12px;
    }
    .title-input {
        font-size: 25px;
        font-weight: 500;
    }
    .body-input {
        margin-top: 20px;
    }

    .currentDate {
        color: #9d9d9d;
        margin-left: 8px;
        font-size: 14px;
    }
}

ion-footer {
  text-align: center;

  ion-icon {
    zoom: 1.5;
  }

  .color-container {
    overflow: auto;
    white-space: nowrap;
    border-bottom: 1px solid #e8e8e8;
  }

  .fontActive, .colorActive {
    color: var(--ion-color-primary);
  }

  .fontInactive, .colorInactive {
    color: #000000;
  }

  #blue {
    background: #B5EAEA;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
  }
  #green {
    background: #28FFBF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
  }
  #red {
    background: #FF4848;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
  }
  #purple {
    background: #7C83FD;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
  }
  #black {
    background: #000000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
  }
}

.btnDisable {
    opacity: 0.3;
  }