<ion-header>
  <div id="header-container">
    <ion-row>
      <ion-col size=1>
        <ion-icon name="person-circle-outline" class="person"></ion-icon>
      </ion-col>
      <ion-col size=9>
        <p>{{ username }}</p>
      </ion-col>
      <ion-col size=2 style="text-align: right;">
        <ion-icon name="ellipsis-horizontal-outline" (click)="presentPopover()"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</ion-header>
<ion-content>
  <div id="segment-container">
    <ion-segment (ionChange)="segmentChanged($event)" value="notes">
      <ion-segment-button value="notes">
        <ion-label>All Notes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="folder">
        <ion-label>Folder</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div id="body-container">
    <ion-row *ngFor="let note of all_notes">
      <ion-col>
        <div class="notes">
          <p>{{ note.createdAt }}</p>
          <h5 class="title">{{ note.title }} </h5>
          <div class="tag">Ideas</div>
          <p class="description">{{ note.description }}</p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <ion-button (click)="addNotes()">
    <ion-icon name="add-outline"></ion-icon>&nbsp; Add Notes
  </ion-button>
</ion-footer>