<ion-header class="ion-no-border">
  <div id="header-container">
    <ion-toolbar>
      <ion-icon slot="start" name="person-circle-outline" class="person-icon"></ion-icon>
      <p>{{ username }}</p>
      <ion-icon slot="end" name="ellipsis-horizontal-outline" class="save-icon" (click)="presentPopover()"></ion-icon>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div id="segment-container">
    <ion-segment (ionChange)="segmentChanged($event)" value="notes">
      <ion-segment-button value="notes">
        <ion-label>All Notes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="folder">
        <ion-label>Folder</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Add Note -->
  <div id="add-note-container" *ngIf="segment === 'notes'">
    <ion-row *ngFor="let note of all_notes" (click)="goToNoteDetail(note.id)">
      <ion-col>
        <div class="notes">
          <p>{{ note.createdAt }}</p>
          <h5 class="title">{{ note.title }} </h5>
          <div class="tag" *ngIf="note.folderName === null || !note.folderName">Unclassified</div>
          <div class="tag" *ngIf="note.folderName !== null">{{ note.folderName }}</div>
        </div>
      </ion-col>
    </ion-row>
    <div class="no-result" *ngIf="noResult">
      <ion-icon name="search-outline"></ion-icon>
      <p>Sorry. No Result Found</p>
    </div>
    <div class="add-note">
      <ion-button (click)="addNotes()">
        <ion-icon name="add-outline"></ion-icon>&nbsp; Add Notes
      </ion-button>
    </div>
  </div>

  <!-- Add Folder -->
  <div id="add-folder-container" *ngIf="segment === 'folder'">
    <ion-row>
      <ion-col col-6 *ngFor="let folder of all_folders" (click)="getNotesByFolder(folder)">
        <div class="folder-container">
          <ion-icon name="folder-open-outline"></ion-icon>
          <ion-label>{{folder}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <div class="add-folder">
      <ion-button (click)="showPrompt()">
        <ion-icon name="add-outline"></ion-icon>&nbsp; Add Folders
      </ion-button>
    </div>
  </div>
</ion-content>